<a href="https://colab.research.google.com/github/DamodaraBarbosa/estudos_web_scraping/blob/main/Concatenando_Dataframes_Xbox_Metacritic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Concatenando os Dataframes (XBO e XSX) com notas no Metacritic

Importando as bibliotecas

In [1]:
import pandas as pd
import numpy as np

## Definindo os Dataframes

Com os dados de jogos do Xbox One

In [2]:
dt_xbo_metacritic = pd.read_csv('metacritic_xbox_one.csv')

In [3]:
dt_xbo_metacritic.head()

,Name,Release date,Metascore,Userscore
0,Red Dead Redemption 2,"October 26, 2018",97,8.2
1,Grand Theft Auto V,"November 18, 2014",97,7.9
2,Metal Gear Solid V: The Phantom Pain,"September 1, 2015",95,7.6
3,Celeste,"January 26, 2018",94,7.6
4,The Witcher 3: Wild Hunt - Blood and Wine,"May 31, 2016",94,8.6

Com os dados de jogos do Xbox Series X

In [4]:
dt_xsx_metacritic = pd.read_csv('metacritic_xseries.csv')

In [5]:
dt_xsx_metacritic.head()

                                Name       Release date  Metascore Userscore
0                         Elden Ring  February 25, 2022         96       7.7
1                              Hades    August 13, 2021         93       8.6
2  The Stanley Parable: Ultra Deluxe     April 27, 2022         93       8.4
3                    Forza Horizon 5   November 5, 2021         92       8.2
4      Ori and the Will of the Wisps  November 10, 2020         92       8.6

## Verificação de repetição de um mesmo jogo em ambos os Dataframes

In [6]:
# a lista xsx_games contém todos os jogos do Dataframe 'dt_xsx_metacritic'

xsx_games = list(dt_xsx_metacritic['Name'])

In [7]:
len(xsx_games)

281

In [8]:
# o número de jogos na lista coincide com o número de linhas do Dataframe

dt_xsx_metacritic.shape[0]

281

In [9]:
dt_xsx_metacritic.query('Name == "Grand Theft Auto V"')['Metascore']

99    79
Name: Metascore, dtype: int64

In [10]:
str(dt_xbo_metacritic.query('Name == "Grand Theft Auto V"')['Metascore']).split()

['1', '97', 'Name:', 'Metascore,', 'dtype:', 'int64']

In [11]:
# visualizando a diferença entre as notas das diferentes versões
# opta-se, também, por manter as notas das versões do XSX, por serem versões mais recentes, no console com melhor
# desempenho dos jogos

jogos_ambos_dt = list()

for jogo in dt_xbo_metacritic['Name']:
  if jogo in xsx_games:
    metascore_xsx = str(dt_xsx_metacritic.query(f'Name == "{jogo}"')['Metascore']).split()
    metascore_xbo = str(dt_xbo_metacritic.query(f'Name == "{jogo}"')['Metascore']).split()
    dt_xbo_metacritic.at[metascore_xbo[0], 'Metascore'] = metascore_xsx[0]

    jogos_ambos_dt.append(jogo)

    print(f'{jogo} - XSX: {metascore_xsx[1]} | XBO: {metascore_xbo[1]}')

Grand Theft Auto V - XSX: 79 | XBO: 97
Psychonauts 2 - XSX: 87 | XBO: 91.0
Ori and the Will of the Wisps - XSX: 92 | XBO: 90.0
Yakuza: Like a Dragon - XSX: 83 | XBO: 89.0
Tony Hawk's Pro Skater 1 + 2 - XSX: 89 | XBO: 88.0
The Forgotten City - XSX: 86 | XBO: 88.0
Death's Door - XSX: 87 | XBO: 87.0
OlliOlli World - XSX: 85 | XBO: 85.0
Planet Coaster: Console Edition - XSX: 84 | XBO: 85.0
Tunic - XSX: 85 | XBO: 85.0
Gears 5 - XSX: 83 | XBO: 84.0
Wreckfest - XSX: 71 | XBO: 83.0
Crash Bandicoot 4: It's About Time - XSX: 86 | XBO: 83.0
DIRT 5 - XSX: 81 | XBO: 83.0
Knockout City - XSX: 82 | XBO: 83.0
WRC 9 FIA World Rally Championship - XSX: 78 | XBO: 83.0
Gears 5: Hivebusters - XSX: 82 | XBO: 82.0
Assassin's Creed Valhalla - XSX: 84 | XBO: 82.0
Chernobylite - XSX: 71 | XBO: 82.0
Call of the Sea - XSX: 75 | XBO: 81.0
Jurassic World Evolution 2 - XSX: 74 | XBO: 81.0
Tetris Effect: Connected - XSX: 88 | XBO: 80.0
The Artful Escape - XSX: 80 | XBO: 80.0
FIFA 21 - XSX: 74 | XBO: 77.0
Immortals Fenyx Rising - XSX: 81 | XBO: 76.0
LEGO Star Wars: The Skywalker Saga - XSX: 82 | XBO: 76.0
Watch Dogs: Legion - XSX: 74 | XBO: 76.0
Sable - XSX: 71 | XBO: 74.0
Boyfriend Dungeon - XSX: 70 | XBO: 74.0
Warhammer: Chaosbane - XSX: 76 | XBO: 73.0
Destiny 2: Beyond Light - XSX: 71 | XBO: 73.0
Lake - XSX: 71 | XBO: 73.0
Twelve Minutes - XSX: 72 | XBO: 71.0
Kao the Kangaroo - XSX: 69 | XBO: 70.0
The Gunk - XSX: 70 | XBO: 69.0
NBA 2K21 - XSX: 80 | XBO: 67.0
The Sinking City - XSX: 77 | XBO: 66.0
Monster Truck Championship - XSX: 72 | XBO: 66.0
Hunting Simulator 2 - XSX: 66 | XBO: 63.0
The Falconeer - XSX: 65 | XBO: 62.0
Cyberpunk 2077 - XSX: 87 | XBO: 61.0
Tennis World Tour 2 - XSX: 55 | XBO: 58.0
Martha is Dead - XSX: 65 | XBO: 58.0
Space Jam: A New Legacy - The Game - XSX: 52 | XBO: 53.0

In [54]:
# é necessário, então, apagar os jogos que se repetem do Dataframe de jogos do XSX para posterior concatenação

for jogo in jogos_ambos_dt:
  # a variável index_jogo busca o jogo no dataframe de jogos XSX pelo nome, localiza o index e o uso de tolist() e [0]
  # garante apenas a o valor exato do index

  index_jogo = dt_xsx_metacritic.query(f'Name == "{jogo}"').index.tolist()[0]
  dt_xsx_metacritic.drop(index_jogo, inplace =  True)

In [55]:
dt_xsx_metacritic.shape[0]

237

In [59]:
# verifica-se novamente, a fim de confirmar, se os jogos ainda se repetem

xsx_games_new = list(dt_xsx_metacritic)

for jogo in dt_xbo_metacritic['Name']:
  if jogo in xsx_games_new:
    print('repetido')

#como não houve nenhum print é possível considerar que foram todos removidos

## Concatenando os Dataframes

In [60]:
xbox_metacritic = pd.concat([dt_xbo_metacritic, dt_xsx_metacritic])

In [61]:
xbox_metacritic

,Name,Release date,Metascore,Userscore
0,Red Dead Redemption 2,"October 26, 2018",97.0,8.2
1,Grand Theft Auto V,"November 18, 2014",97.0,7.9
2,Metal Gear Solid V: The Phantom Pain,"September 1, 2015",95.0,7.6
3,Celeste,"January 26, 2018",94.0,7.6
4,The Witcher 3: Wild Hunt - Blood and Wine,"May 31, 2016",94.0,8.6
...,...,...,...,...
276,Music Racer: Ultimate,"March 4, 2022",50,tbd
277,Blackwind,"January 20, 2022",48,tbd
278,Balan Wonderworld,"March 26, 2021",47,7.2
279,Krut: The Mythic Wings,"July 12, 2022",43,tbd
280,CrossfireX,"February 10, 2022",38,3.3

In [63]:
print(dt_xbo_metacritic.shape[0] + dt_xsx_metacritic.shape[0])

2323

## Exportando o Dataframe

In [64]:
xbox_metacritic.to_csv('xbox_metacritic.csv', index = False, encoding = 'utf-8-sig')